*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#353535;
  background-color: #F1F1F1;
  margin-bottom: 5px;
}

.body{
  padding:10px 10px;
}

.movingHeadline{
  background-color:rgba(0, 0, 0, 0.25);
}

.box{
  padding:25px 25px;
  background-color: rgb(240,240,240);
}

.box img{
  width: 400px;
  height: 250px;
}

.box h4{
  font-size: 15px;
  font-weight: bold;
}

header{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
}

header div span{
  display: block;
  text-align: center;
}

.logo-2{
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
}

.logo-3{
  letter-spacing: 20px;
  font-size: 25px;
}


/* .blog-posts-container{
  max-width: 600px;
  margin:0 auto;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #f1f1f1;
} */

/* .blogs-posts-container img{
  width:100%;
  margin-bottom: 20px;
}

.blogs-posts-container h2{
  width:100%;
  margin-bottom: 20px;

}

.blogs-posts-container .author{
  width:100%;
  margin-bottom: 20px;
}

.blogs-posts-container .summary {
  width:100%;
  margin-bottom: 20px;
}
*/
/* .blogs-posts-container a{
  text-decoration: none;
  background-color: #353535 !important;
  color:white;
  padding:10px 20px;
  border-radius: 2px;
  display: inline-block;
} */


