.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }

  .timer{
    background-color: rgb(176, 244, 251);
  }

  @media(max-width:720px){
     .timer{
      font-size: 1em;
     }

     .timer span{
      font-size: 1.1em;
     }
  }