.main input:active .custom-control-input {
  background-color: blue;
};

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: blue !important;
  border-color: blue !important;
}

/*--------------------------ADD TO CART Button Design---------------- */

/* body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebe8ff;
} */

.cart-button {
	position: relative;
	padding: 10px;
	width: 200px;
	height: 60px;
	border: 0;
	border-radius: 10px;
	background-color: #4834d4;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
}
.cart-button:hover {
	background-color: #35269b;
}
.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.youtube-link {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
/* -------------------------------------------------------------------------------------------------------- */
.button {
	--background: #362a89;
	--text: #fff;
	--cart: #fff;
	--tick: var(--background);
	position: relative;
	border: none;
	background: none;
	padding: 8px 28px;
	border-radius: 8px;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	min-width: 144px;
	color: var(--text);
	background: var(--background);
	transform: scale(var(--scale, 1));
	transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
	}
	.button:active {
	--scale: 0.95;
	}
	.button span {
	font-size: 14px;
	font-weight: 500;
	display: block;
	position: relative;
	padding-left: 24px;
	margin-left: -8px;
	line-height: 26px;
	transform: translateY(var(--span-y, 0));
	transition: transform 0.7s ease;
	}
	.button span:before, .button span:after {
	content: '';
	width: var(--w, 2px);
	height: var(--h, 14px);
	border-radius: 1px;
	position: absolute;
	left: var(--l, 8px);
	top: var(--t, 6px);
	background: currentColor;
	transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
	transition: transform 0.65s ease 0.05s;
	}
	.button span:after {
	--w: 14px;
	--h: 2px;
	--l: 2px;
	--t: 12px;
	}
	.button .cart {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -18px;
	transform-origin: 12px 23px;
	transform: translateX(-120px) rotate(-18deg);
	}
	.button .cart:before, .button .cart:after {
	content: '';
	position: absolute;
	}
	.button .cart:before {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px var(--cart);
	bottom: 0;
	left: 9px;
	filter: drop-shadow(11px 0 0 var(--cart));
	}
	.button .cart:after {
	width: 16px;
	height: 9px;
	background: var(--cart);
	left: 9px;
	bottom: 7px;
	transform-origin: 50% 100%;
	transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
	transition: transform 1.2s ease var(--fill-d);
	}
	.button .cart svg {
	z-index: 1;
	width: 36px;
	height: 26px;
	display: block;
	position: relative;
	fill: none;
	stroke: var(--cart);
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	}
	.button .cart svg polyline:last-child {
	stroke: var(--tick);
	stroke-dasharray: 10px;
	stroke-dashoffset: var(--offset, 10px);
	transition: stroke-dashoffset 0.4s ease var(--offset-d);
	}
	.button.loading {
	--scale: 0.95;
	--span-y: -32px;
	--icon-r: 180deg;
	--fill: 1;
	--fill-d: 0.8s;
	--offset: 0;
	--offset-d: 1.73s;
	}
	.button.loading .cart {
	animation: cart 3.4s linear forwards 0.2s;
	}
	@keyframes cart {
	12.5% {
	transform: translateX(-60px) rotate(-18deg);
	}
	25%, 45%, 55%, 75% {
	transform: none;
	}
	50% {
	transform: scale(0.9);
	}
	44%, 56% {
	transform-origin: 12px 23px;
	}
	45%, 55% {
	transform-origin: 50% 50%;
	}
	87.5% {
	transform: translateX(70px) rotate(-18deg);
	}
	100% {
	transform: translateX(140px) rotate(-18deg);
	}
	}
	html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	}
	* {
	box-sizing: inherit;
	}
	*:before, *:after {
	box-sizing: inherit;
	}
	body {
	min-height: 100vh;
	display: flex;
	font-family: 'Inter UI', 'Inter', Arial;
	justify-content: center;
	align-items: center;
	background: #eceffc;
	}
	body .dribbble {
	position: fixed;
	display: block;
	right: 20px;
	bottom: 20px;
	}
	body .dribbble img {
	display: block;
	height: 28px;
	}
	body .twitter {
	position: fixed;
	display: block;
	right: 64px;
	bottom: 14px;
	}
	body .twitter svg {
	width: 32px;
	height: 32px;
	fill: #1da1f2;
	}


/* -------------------------------------------------------------------------------------------------------- */


/* .app-btn {
    height: 32px;
    width: 110px;
    background:blue;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }

  *{
	box-sizing: border-box;
  }

  #grid-selector{
	height: 10px;
	width: 1291px;
	padding: 40px 0 40px 30px;
	float: left;
	color: #5d5f68;
	font-size: 14px;
}
#grid-menu{
	float:right;
	width:105px;
}
#grid-menu ul{
  width: 65px;
  float: right;
  position: relative;
  top: -1px;}
#grid-menu li{
	 float:right;
	 width:25px;
	 height:25px;
	 list-style:none;
}
#grid-menu li a{
  	 display:block;
	 width:25px;
	 height:25px;
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/grid-menu.png") 0 0  no-repeat;
}
#grid-menu li.smallGrid{margin-right:7px;}
#grid-menu li.smallGrid a{background-position:0 -33px;}
#grid-menu li.largeGrid a{background-position:-37px 0;}

#grid-menu li.smallGrid a.active{background-position:0 0;}
#grid-menu li.largeGrid a.active{background-position:-37px -33px;}


#grid{
	width: 1335px;
	position: absolute;
	left: 340px;
	height: 1200px;
	top: 180px;
}
#sidebar{
	float:left;
	background:#fff;
	width:275px;
	padding:13px 0 0 45px;
	height:1400px;
	border-right:1px solid #eee;
}
#sidebar h3{
	color:#262626;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	padding:35px 0 10px 0;
	letter-spacing:1px;
	clear:both;
}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;
}
#sidebar .checklist{
	padding:0;
}

.checklist ul li{
	font-size:14px;
	font-weight:400;
	list-style:none;
	padding: 7px 0 7px 23px;
}
.checklist li span{
	float:left;
	width:11px;
	height:11px;
	margin-left:-23px;
	margin-top:4px;
	border: 1px solid #d1d3d7;
	position:relative;
}
.sizes li span, .categories .sizes li{
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a{
	color:#676a74;
	text-decoration:none;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a:hover{
	color:#222;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a:hover span{
	border-color:#a6aab3;
}

.sizes a:hover span, .categories a:hover span{
	border-color:#a6aab3;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a span span{border:none;margin:0;float:none; position:absolute;top:0;left:0;}
.checklist a .x{
	display:block;
	width:0;
	height:2px;
	background:#3717c9;
	top:6px;
	left:2px;
	-ms-transform: rotate(45deg);
   	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checklist a .x.animate{
	width:4px;
	-webkit-transition: all 100ms ease-in;
	   -moz-transition: all 100ms ease-in;
	    -ms-transition: all 100ms ease-in;
	     -o-transition: all 100ms ease-in;
	        transition: all 100ms ease-in;
}
.checklist a .y{
	display:block;
	width:0px;
	height:2px;
	background:#3717c9;
	top:4px;
	left:3px;
	-ms-transform: rotate(13deg);
   	-webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.checklist a .y.animate{
	width:8px;
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
	    -ms-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}
.checklist .checked span{
	border-color:#3717c9;
}


.items{
    margin:0px 15px;
    text-align: center;
}

.items img{
    width:65px;
}

.items a:hover{
    color: blue !important;
}

.itemdata{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;

}


.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.1);
}

.card-body checkbox{
  background-color: #3717c9;
}

.ul_checkbox{
	background-color: #3717c9;
}


*/
.section-pagetop{
  width: 100% !important;
}
