<ngx-slick-carousel class="main-slider slider" >
    <div ngxSlickItem class="slider-item " data-interval="2000"
      style="background-image: url(https://logan.nnnow.com/content/dam/nnnow-project/27-oct-2021-/BENEFIT-BROWS-APP.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
              <a href="#" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem class="slider-item" style="background-image:url(assets/images/Beauty/glow-up-your-skin.jpeg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">up to 70% off</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
              <a href="#" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem class="slider-item"
      style="background-image:url(assets/images/Beauty/beauty-ecommerce.jpg); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Trendy dress</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
              <a href="#" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>



      <!-- <img src="assets/images/Beauty/beauty-ecommerce.jpg" >
      
      <img src="assets/images/Beauty/" >
      
      <img src="https://logan.nnnow.com/content/dam/nnnow-project/27-oct-2021-/BENEFIT-BROWS-APP.jpg" >
       -->