<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item " data-interval="2000"
    style="background-image: url(assets/images/slideshow1-2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Winter Collection Sale </span>
            <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item" style="background-image:url(assets/images/slideshow1-3.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">up to 70% off</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item"
    style="background-image:url(assets/images/slideshow1-1.jpg); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Trendy dress</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>



<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)" >Open My Modal</button>
<!-- Remember to minimize the z-index of the container taaki iske popup ke upr click cross work kar paae -->
<ng-template style="z-index:0; width: 50%;" #mymodal let-modal >
  <div class="modal-header" style="background-color:#fb5c42;">
    <h4 class="modal-title" id="modal-basic-title">Welcome To NeelShop</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="imgBx">
      <img src="assets/images/gift.png">
    </div>
    <div class="content">
      <div>
      <h2>Special Offer</h2>
      <h3>Upto. 50<sup>%</sup><span>Off</span></h3>
    </div>
    </div>
  </div>
  <p class="modal-text"><b>Big Billion Winter Sale HURRY UP!!!</b></p>
  <a class="modal-button" href="">Get The Deal Right Now</a>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" style="color: black;" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<!-- <div class="offer">
  <img  claa="rotate" src="assets/images/circle.jpg" width="170px">
    <div class="off">
      50<span>OFF</span>
    </div>
</div>  -->

<!-- CSS TYPING EFFECT STARTS HERE -->
<!-- 
 <div class="wrapper">
  <div class="static-txt">I'm</div>
  <ul class="dynamic-txts">
    <li><span>Neelesh</span></li>
    <li><span>Developer</span></li>
    <li><span>Neelesh</span></li>
    <li><span>Developer</span></li>
  </ul>
</div> -->




<div class="wrapper">
  <h1 aria-label="Hi! I'm a developer">
    Hi! I'm &nbsp;<span class="typewriter"></span>
  </h1>
</div>

<img class="homeImg"
  src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/7/1e599d37-1ed6-4e39-9057-ffb4065173b51651897264796-Unbelievable-Deals.jpg" />




<!-- <img src="assets/images/big sale offer.png" width="auto%" height="50%%"> -->


<!-- New Second header design below home poage  -->

<section class="categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="categories_item categories_large_item">
          <img src="assets/images/womenCategory.jpg" alt="" class="img-fluid">
          <div class="categories_text">
            <h4>Women's fashion</h4>
            <p>75 items</p>
            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.</p> -->
            <a href="/women">Buy now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 p-0" style="padding:0;">
            <div class="categories_item">
              <img src="assets/images/menFashion.jpg" alt="" class="img-fluid">
              <div class="categories_text">
                <h4>Men's fashion</h4>
                <p>50 items</p>
                <a href="/men">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12 p-0" style="padding:0;">
            <div class="categories_item">
              <img src="assets/images/kidsFashion.jpg" alt="" class="img-fluid">
              <div class="categories_text">
                <h4>Kid's fashion</h4>
                <p>273 items</p>
                <a href="#">Buy now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 p-0" style="padding:0;">
            <div class="categories_item">
              <img src="assets/images/cosmetics.jpg" alt="" class="img-fluid">
              <div class="categories_text">
                <h4>Cosmetics</h4>
                <p>159 items</p>
                <a href="/beauty">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 p-0" style="padding:0;">
            <div class="categories_item">
              <img src="assets/images/accessories.jpg" alt="" class="img-fluid">
              <div class="categories_text">
                <h4>Fashion Blogs</h4>
                <p>Latest</p>
                <a href="/blog-home">View Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- 50% off Banner Design -->
<div class="banneroff">
  <div class="content">
    <h1>Get Up To 50% Off</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, animi?</p>
    <div id="bannerbtn" routerLink="/product-list"><button>SHOP NOW</button></div>
  </div>
</div>
<!--  -->


<!-------------------------------------Product Slider--------------------------------------------->
<!-- <ngx-slick-carousel class="main-slider slider" [config]="slideConfig" *ngIf="products">
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto" *ngFor="let product of products  let i = index  ngbSlide" >
      <div class="carousel-item col-md-3 active">
        <div class="card">
          <a><img class="card-img-top img-fluid" src="/assets/images/Men_Fashion/TShirts/{{product.product_img}}"
              width="200px" height="300px"></a>
          <div class="card-body">
            <h4 class="card-title">title 1</h4>
            <p class="card-text">Product Name</p>
            <a class="btn btn-lg btn-info text-light text-capitalize">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ngx-slick-carousel> -->

<div class="middle-banner">

  <div class="mens-banner">
    <img src="assets/images/men-hrx-nike.png" width="100%" height="auto" routerLink="/tshirts">
  </div>

  <div class="carousel_products" style="margin-top: 20px;">
    <p-carousel [value]="products" [numVisible]="6" [numScroll]="1" [circular]="false" [autoplayInterval]="2000"
      data-interval="4000" [responsiveOptions]="responsiveOptions" [showIndicators]="false" >
      <ng-template pTemplate="header">
        <h3><b>Men's Products</b></h3>
      </ng-template>
      <ng-template let-products | filter : women; pTemplate="item">
        <div class="product-item col-lg-6 col-md-6 col-12 p-0">
          <div class="product-item-content">
            <div class="p-mb-3 ">
              <img class="img-fluid" [routerLink]="['/products',products.product_id]"
                src="/assets/images/Men_Fashion/TShirts/{{products.product_img}}" alt={{products.product_name}
                width="217" height="250">
            </div>
            <div>
              <h4 class="p-mb-1">{{products['product_name']}}</h4>
              <h6 class="p-mt-0 p-mb-3">{{products['product_price'] | currency:'INR':'symbol-narrow':'4.2-2'}}</h6>
              <div class="car-buttons p-mt-5">
                <p-button type="button" styleClass="p-button-help p-button-rounded"
                  [routerLink]="['/products',products.product_id]">View Product</p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

</div>

<script>


</script>

<section class="discount spad">
  <div class="row" style="padding-left:10rem;">
    <div class="col-lg-12 col-4 p-0">
      <div class="discount_pic">
        <img src="assets/images/discountMan.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-lg-12 col-6 p-0">
      <div class="discount_text">
        <div class="discount_text_title">
          <span>Discount</span>
          <h2>Winter 2020</h2>
          <h5><span>Sale</span> 60% OFF</h5>
        </div>
        <div class="discount_countdown" id="countdown-time">
          <div class="countdown_item">
            <span id="days"> {{daysToDday}} </span>
            <p>Day</p>
          </div>
          <div class="countdown_item">
            <span id="hours">{{hoursToDday}} </span>
            <p>Hour</p>
          </div>
          <div class="countdown_item">
            <span id="minutes">{{minutesToDday}}</span>
            <p>Min</p>
          </div>
          <div class="countdown_item">
            <span id="seconds">{{secondsToDday}}</span>
            <p>Sec</p>
          </div>
        </div>
        <div id="countdownTimerButton">
          <button routerLink="/product-list"><b><strong>Buy now</strong></b></button>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="women-banner">
  <img src="assets/images/women-banner.png" routerLink="/women" width="100%" height="auto">

  <div class="carousel_products" style="margin-top: 20px;">
    <p-carousel [value]="products" [numVisible]="6" [numScroll]="1" [circular]="false" [autoplayInterval]="2000"
      data-interval="4000" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
      <ng-template pTemplate="header">
        <h3><b> Women's Products </b></h3>
      </ng-template>
      <ng-template let-products pTemplate="item" ; let i=index; i=i+25 ;>
        <div class="product-item2 col-lg-6 col-md-6 col-12 p-0">
          <div class="product-item-content">
            <div class="p-mb-3">
              <img class="img-fluid" src="/assets/images/Men_Fashion/TShirts/{{products.product_img}}"
                [routerLink]="['/products',products.product_id]" alt={{products.product_name} width="217" height="250">
            </div>
            <div>
              <h4 class="p-mb-1">{{products['product_name']}}</h4>
              <h6 class="p-mt-0 p-mb-3">{{products['product_price'] | currency:'INR':'symbol-narrow':'4.2-2'}}</h6>
              <div class="car-buttons p-mt-5">
                <p-button type="button" styleClass="p-button-help p-button-rounded"
                  [routerLink]="['/products',products.product_id]">View Product</p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<section id="offers" class="py-5">
  <div class="container_offer">
    <div
      class="row d-flex align-items-center justify-content-center text-center justify-content-lg-start text-lg-start">
      <div class="offers-content">
        <span class="text-white">Discount Up To 40%</span>
        <h2 class="mt-2 mb-4 text-white">&nbsp; Grand Sale Offer!</h2>
        <h3 class="mt-2 mb-4 text-white">On NeelShop</h3>
        <a href="#" class="btn" routerLink="/top">Shop Now</a>
      </div>
    </div>
  </div>
</section>

<!------------------------------------------------------------------------------------------------>



<img src="assets/images/headers/brandAtSlashedPrice.png" height="150px">
<div class="hbrand" style="cursor: pointer;">
  <div class="highlander">
    <img src="assets/images/brand/highlander.jpg" height="238" width="217.5" routerLink="/highlander">
    <h5 routerLink="/highlander">Highlander</h5>
    <h6 routerLink="/highlander">Min.40% Off</h6>
  </div>
  <div class="worgn">
    <img src="assets/images/brand/wrogn.jpg" height="238" width="217.5" routerLink="/wrogn">
    <h5 routerLink="/wrogn">Wrogn</h5>
    <h6 routerLink="/wrogn">Upto 60% Off</h6>
  </div>
  <div class="dennis">
    <img src="assets/images/brand/dennislingo.jpg" height="238" width="217.5" routerLink="/dennisLingo">
    <h5 routerLink="/dennisLingo">Dennis Lingo</h5>
    <h6 routerLink="/dennisLingo">Min.50% Off</h6>
  </div>
  <div class="here&Now">
    <img src="assets/images/brand/hereNow.jpg" height="238" width="217.5" routerLink="/here&Now">
    <h5 routerLink="/here&Now">Here&Now</h5>
    <h6 routerLink="/here&Now">30-45% Off</h6>
  </div>
  <div class="levis">
    <img src="assets/images/brand/Levis.jpg" height="238" width="217.5" routerLink="/levis">
    <h5 routerLink="/levis">Levi's</h5>
    <h6 routerLink="/levis">40-60% Off</h6>
  </div>
  <div class="mufti">
    <img src="assets/images/brand/mufti.jpg" height="238" width="217.5" routerLink="/mufti">
    <h5 routerLink="/mufti">Mufti</h5>
    <h6 routerLink="/mufti">Min.55% Off</h6>
  </div>
  <div class="zara">
    <img src="assets/images/brand/Zara.jpg" height="238" width="217.5" routerLink="/zara">
    <h5 routerLink="/zara">Zara</h5>
    <h6 routerLink="/zara">60-70% Off</h6>
  </div>
  <div class="roadster">
    <img src="assets/images/brand/roadster.jpg" height="238" width="217.5" routerLink="/roadster">
    <h5 routerLink="/roadster">Roadster</h5>
    <h6 routerLink="/roadster">Upto 45% Off</h6>
  </div>
  <div class="cantabil">
    <img src="assets/images/brand/canatabil.jpg" height="238" width="217.5" routerLink="/cantabil">
    <h5 routerLink="/cantabil">Cantabil</h5>
    <h6 routerLink="/cantabil">Min.40% Off</h6>
  </div>
  <div class="denim">
    <img src="assets/images/brand/denim.jpg" height="238" width="217.5" routerLink="/denim">
    <h5 routerLink="/denim">Denim</h5>
    <h6 routerLink="/denim">30-50% Off</h6>
  </div>
  <div class="hrx">
    <img src="assets/images/brand/hrx.jpg" height="238" width="217.5" routerLink="/hrx">
    <h5 routerLink="/hrx">HRX</h5>
    <h6 routerLink="/hrx">Upto 55% Off</h6>
  </div>
  <div class="mastHarbour">
    <img src="assets/images/brand/mastharbour.jpg" height="238" width="217.5" routerLink="mast&harbour">
    <h5 routerLink="mast&harbour">Mast&Harbour</h5>
    <h6 routerLink="mast&harbour">Min.50% Off</h6>
  </div>
</div>

<!-- Free Shipping / Support / Delivery -->

<section class="features border-top" style="border: 2px solid #fb5c42; padding-top: 2px;">
  <div class="container_featured">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order over $39.00</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>30 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected by paypal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ----Animated Product Category ----------->

<div class="offers1" style="padding-top: 10px;">
  <div class="containerOffer" style="padding: 10px;">
    <div class="row" style="width:80%; display: flex; margin-left: auto; margin-right: auto;">
      <!-- Offer Box One -->
      <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
        <a href="#">
          <div class="offer-box text-center position-relative mb-4 mb-sm-0 mb-lg-0">
            <div class="offer-inner">
              <div class="offer-image position-relative overflow-hidden">
                <img src="assets/images/offer1.jpg" alt="Offers" class="img-fluid">
                <div class="offer-overlay"></div>
              </div>
              <div class="offer-info">
                <div class="offer-info-inner">
                  <p class="heading-bigger text-capitalize">Sale 30%</p>
                  <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss This Chance</p>
                  <button type="button" class="btn btn-outline-danger text-uppercase mt-4">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- offer Box Two -->
      <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4 d-flex flex-column justify-content-between">
        <a href="#">
          <div class="offer-box text-center position-relative mb-4 mb-sm-0 mb-lg-0">
            <div class="offer-inner">
              <div class="offer-image position-relative overflow-hidden">
                <img src="assets/images/offer2.jpg" alt="Offers" class="img-fluid">
                <div class="offer-overlay"></div>
              </div>
              <div class="offer-info">
                <div class="offer-info-inner">
                  <p class="heading-bigger text-capitalize">Sale 70%</p>
                  <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss This Chance</p>
                  <button type="button" class="btn btn-outline-danger text-uppercase mt-4">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="offer-box text-center position-relative">
            <div class="offer-inner">
              <div class="offer-image position-relative overflow-hidden">
                <img src="assets/images/offer3.jpg" alt="Offers" class="img-fluid">
                <div class="offer-overlay"></div>
              </div>
              <div class="offer-info">
                <div class="offer-info-inner">
                  <p class="heading-bigger text-capitalize">Sale 50%</p>
                  <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss This Chance</p>
                  <button type="button" class="btn btn-outline-danger text-uppercase mt-4">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- offer Box Three -->
      <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
        <a href="#">
          <div class="offer-box text-center position-relative">
            <div class="offer-inner">
              <div class="offer-image position-relative overflow-hidden">
                <img src="assets/images/offer4.jpg" alt="Offers" class="img-fluid">
                <div class="offer-overlay"></div>
              </div>
              <div class="offer-info">
                <div class="offer-info-inner">
                  <p class="heading-bigger text-capitalize">Sale 25%</p>
                  <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss This Chance</p>
                  <button type="button" class="btn btn-outline-danger text-uppercase mt-4">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



<!------------------------------------------------------------------------------------------------------------->

<div class="brand">
  <img src="assets/images/ProductType/shop by categories.png" style="width:100%; height: auto; border: 2px solid red;">
  <div class="product_category">
    <div class="shirts" style="cursor: pointer;">
      <img src="assets/images/ProductType/Shirt.jpeg" height="238" width="193" routerLink="/shirts">
      <h5 routerLink="/shirts">Shirts</h5>
      <h6 routerLink="/shirts">Min.40% Off</h6>
    </div>
    <div class="tshirts" style="cursor: pointer;">
      <img src="assets/images/ProductType/Tshirt.jpeg" height="238" width="193" routerLink="/tshirts">
      <h5 routerLink="/tshirts">T-Shirts</h5>
      <h6 routerLink="/tshirts">Upto 60% Off</h6>
    </div>
    <div class="jackets" style="cursor: pointer;">
      <img src="assets/images/ProductType/Jacket.jpeg" height="238" width="193" routerLink="/jackets">
      <h5 routerLink="/jackets">Jackets</h5>
      <h6 routerLink="/jackets">Min.50% Off</h6>
    </div>
    <div class="top" style="cursor: pointer;">
      <img src="assets/images/ProductType/Top.jpeg" height="238" width="193" routerLink="/top">
      <h5 routerLink="/top">Top</h5>
      <h6 routerLink="/top">30-45% Off</h6>
    </div>
    <div class="blazers" style="cursor: pointer;">
      <img src="assets/images/ProductType/Blazer.jpeg" height="238" width="193" routerLink="/blazers">
      <h5 routerLink="/blazers">Blazers</h5>
      <h6 routerLink="/blazers">Min.40% Off</h6>
    </div>
  </div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->



<div class="product_type">
  <h3>Shop by Category</h3>
  <a routerLink="/men"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/f6505a84-c9ad-42e1-9c68-767085cc4fe81657171557392-BudgetBuys_-Loungewear.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/tshirts"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/51a298f5-78d5-4553-b7fc-a76439a9e0f41657171557443-BudgetBuys_T-Shirts.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/women"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/a09d4965-d538-4836-b019-bb33736f1c8b1657171585766-BudgetBuys_Sarees.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/men"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/1d463b37-8041-44d0-af1b-1f23f0770d641657171723720-BudgetBuys_Sandals.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/men"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/e5e8e15f-6d39-41e4-83c2-3943a8714f641657171723691-BudgetBuys_CasualShoes.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/women"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/acadf300-e31c-4494-9909-2dd8478881cf1657171615960-BudgetBuys_Trimmers_Epilators.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
  <a routerLink="/women"><img
      src="https://assets.myntassets.com/w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/7/2d136799-abd8-438d-b10e-8e404dbdcd4f1657171615945-BudgetBuys_Perfumes_BodyMists.jpg"
      alt="budget" class="homeTop_budgetimg__Z2Ip0" height="250" width="190"></a>
</div>
<!-- <img
  src="https://assets.myntassets.com/w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/11/6b24b9e9-8e64-4481-8653-04d17060e7e21657527673741-3.jpeg"
  alt="crushImg" class="homeTop_crushimg__5Xj05"> -->

<!-- ===-------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="dealsOnTopBrands" style="cursor: pointer;">
  <img src="assets/images/topBrands/dealsOnTopBrands.png" style="width:100%; height: auto; border: 2px solid red;">
  <div class="hereNow" routerLink="here&Now">
    <img src="assets/images/topBrands/here&now.png" routerLink="/here" width="227.85px" height="338px">
  </div>
  <div class="urbanic" routerLink="/jackets">
    <img src="assets/images/topBrands/urbanic.png" routerLink="/urbanic" width="227.85px" height="338px">
  </div>
  <div class="worgn" routerLink="/wrogn">
    <img src="assets/images/topBrands/wrogn.png" routerLink="/wrogn" width="227.85px" height="338px">
  </div>
  <div class="hrx" routerLink="/hrx">
    <img src="assets/images/topBrands/hrx.png" routerLink="/hrx" width="227.85px" height="338px">
  </div>
  <div class="only" routerLink="/blazers">
    <img src="assets/images/topBrands/only.png" routerLink="/zara" width="227.85px" height="338px">
  </div>
  <div class="mastHarbour" routerLink="mast&harbour">
    <img src="assets/images/topBrands/mast & harbour.png" routerLink="/mast" width="227.85px" height="338px">
  </div>
  <div class="levis" routerLink="/levis">
    <img src="assets/images/topBrands/leivs.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="forever21" routerLink="/blazers">
    <img src="assets/images/topBrands/forever21.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="dressberry" routerLink="/top">
    <img src="assets/images/topBrands/dressberry.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="libas" routerLink="/women">
    <img src="assets/images/topBrands/libas.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="biba" routerLink="/top">
    <img src="assets/images/topBrands/biba.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="anouk" routerLink="/women">
    <img src="assets/images/topBrands/anouk.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="roadster&here&now" routerLink="/tshirts">
    <img src="assets/images/topBrands/roadster&here&now.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="puma" routerLink="/tshirts">
    <img src="assets/images/topBrands/puma.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="nike" routerLink="/product-list">
    <img src="assets/images/topBrands/nike.png" routerLink="/levis" width="227.85px" height="338px">
  </div>
  <div class="vishudh" routerLink="/women">
    <img src="assets/images/topBrands/vishudh.png" routerLink="/levis" width="227.85px" height="338px">
  </div>

</div>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="otherProducts">
  <h3>Other Products</h3>
  <section class="container_fluid flex">
    <img class="itemImg" routerLink="/women"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/5d1b7ad3-c3ed-4ef9-a654-18231743d3cd1651484798059-Anouk-Inddus.jpg" />
    <img class="itemImg" routerLink="/top"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/f7575784-edbf-411f-acc0-51891ea7f4331651484798329-Inddus-_Varanga.jpg" />
    <img class="itemImg" routerLink="/women"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/ce40419d-6408-404e-9320-96e41aee1b791651484798300-Hrx-_Puma_-_More.jpg" />
    <img class="itemImg" routerLink="/men"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/44192c45-7393-4ede-a926-11f30b0b92a51651484798036-All.jpg" />
    <img class="itemImg" routerLink="/men"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/764761e7-c505-459e-92a2-6c4387f9e2511651484798319-Hush_Puppies-_Arrow.jpg" />
    <img class="itemImg" routerLink="/men"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/2f424664-e746-4af1-b0e1-366ccb0f2c681651484798552-Red_Tape.jpg" />
    <img class="itemImg" routerLink="/women"
      src="https://assets.myntassets.com/f_webp,w_140,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/2/a802fc48-8f5b-4d69-97ab-e6a3cf3fb70c1651484798800-USPA-_Flying_Machine.jpg" />
  </section>
</div>


<section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/-1cat.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Mens Fashion</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-2.jpg" alt="" class="img-fluid">

          <div class="item-info">
            <p class="mb-0">Ladies hand bag</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a routerLink="/bag" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/cat-3.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Trendy Shirts</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a routerLink="/" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bigBannerOnNeel">
  <img src="assets/images/50off banner.jpg" width="100%" height="30%">
</div>

<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>





  </div>
</section>

<section class="ads section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-6">
        <div class="ads-content">
          <span class="h5 deal">Deal of the day 50% Off</span>
          <h2 class="mt-3 text-white">Trendy Suit</h2>
          <p class="text-md mt-3 text-white">Hurry up! Limited time offer.Grab ot now!</p>
          <!-- syo-timer -->
          <div id="simple-timer" class="syotimer mb-5"></div>
          <a href="#" class="btn btn-main"><i class="ti-bag mr-2"></i>Shop Now </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- NewsLetter for sending the mail to the customers thanking you for visiting the website -->


<section class="newsletter-area spad">
  <div class="container">
    <form method="post" action="#">
      <p class="text-center">
        Subscribe to us for mailing list to receive updates on new arrivals, specials offers and other discount
        information.
      </p>
      <div class="row subscribe-sec">
        <div class="col-md-9">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email..."
            required="">
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn submit">
            Subscribe
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- News letter ends -->

<section class="section products-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <img src="assets/images/adsv.jpg" alt="Product big thumb" class="img-fluid w-100">
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Best selllers</h4>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-1.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Keds - Kickstart Pom Pom</a></h6>
              <p class="featured-entry-meta">$42.99</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-2.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Nike - Brasilia Medium Backpack</a></h6>
              <p class="featured-entry-meta">$27.99</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-3.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Guess - GU7295</a></h6>
              <p>$38.00</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-4.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Adidas Originals Cap</a></h6>
              <p class="featured-entry-meta">$35.00</p>
            </div>
          </div>

          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-5.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Big Star Flip Tops</a></h6>
              <p class="featured-entry-meta">$10.60</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">New Arrivals</h4>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-7.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Keds - Kickstart Pom Pom</a></h6>
              <p class="featured-entry-meta">$42.99</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-8.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Nike - Brasilia Medium Backpack</a></h6>
              <p class="featured-entry-meta">$27.99</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-1.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Guess - GU7295</a></h6>
              <p>$38.00</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-2.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Adidas Originals Cap</a></h6>
              <p class="featured-entry-meta">$35.00</p>
            </div>
          </div>

          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-4.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Big Star Flip Tops</a></h6>
              <p class="featured-entry-meta">$10.60</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order over $39.00</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>30 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected by paypal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>